 html,
 body {
     font-family: "Microsoft Yahei";
     font-size: 12px !important;
 }

 .el-main {
     padding: 10px 10px 0px 10px;

 }

 .el-form-item__label {
     font-size: 12px !important;
 }

 .el-form-item {
     margin-bottom: 13px !important;
     margin-right: 1px !important;
     display: inline-flex !important;
 }

 .form-item-max .el-form-item__content {
     width: 250px;
 }

 .form-item-max .el-form-item__label {
     padding-right: 2px;
 }

 .form-item-full {
     width: 100%;
 }

 .form-item-full .el-form-item__content {
     width: 100%;
 }

 .el-card__body {
     padding: 2px !important;
 }

 .tabulator {
     background-color: #fff !important;
 }

 .moneyright .el-input__inner {
     text-align: right;
 }

 input:disabled {
     background-color: #fff !important;
 }